#form-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;
	padding: 0vh 2vw;

	h1 {
		text-align: center;
	}

	#input-form-content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		padding: 0 1vw;
		overflow-y: scroll;

		.bi-asterisk {
			vertical-align: top;
			font-size: 0.5rem;
		}

		.input-step {
			display: flex;
			flex-direction: column;
			width: 100%;
		}

		#create-views {
			#category-select-container {
				display: flex;
				flex-direction: column;
				user-select: none;	
			}

			#select-view-color {
				display: inline-flex;
				justify-content: center;
			}

			.view-entry-preview {
				display: inline-flex;
				justify-content: space-between;
				align-items: center;

				.view-entry-button {
					width: 75%;
				}

				.view-entry-delete {
					width: 10%;
				}
			}
		}

		#inspect-nodes {
			.node-inspect-modify-selected-row {
				display: inline-flex;
				justify-content: space-between;
				width: 100%;
				
				button {
					width: 47.5%;
				}
			}

			.node-inspect-view-sort {
				cursor: pointer;
				user-select: none;
			}

			.node-inspect-view-sort-selected {
				background-color: #E8E8E8;
			}

			.node-inspect-view-entry {
				cursor: pointer;
			}

			.node-inspect-view-entry-highlighted {
				background-color: #E8E8E8;
			}
		}
		
		#summary-table {
			width: 100%;

			td {
				min-width: 100px;
				padding: 0.6rem;
				border-color: black;
				border-width: 2px;
			}
		}
	}

	#step-action {
		display: inline-flex;
		justify-content: space-between;
		width: 100%;
	}

}