#diagrams-container {
	position: relative;
	height: 100%;
	top: 0;
	left: 0;

	#diagram-tabs {
		position: relative;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 10%;
		border-bottom: 3px solid black;

		.diagram-tab {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 25%;
			min-width: 225px;
			height: 100%;
			border-right: 3px solid black;
			box-sizing: content-box;
			user-select: none;
			cursor: pointer;

			&:last-child {
				border-right: none;
			}
		}

		.diagram-tab-selected {
			background-color: #E8E8E8;
		}

	}
}

#diagrams-content {
	position: relative;
	left: 0;
	height: 90%;
	width: 100%;

	.diagram-element {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.graph-title {
			position: absolute;
			top: 4vh;
			left: 50%;
			transform: translate(-50%, 0);
			z-index: 2;
			user-select: none;
			background-color: white;
			padding: 1vh 1vw;
			border-radius: 5px;
		}
	}

	#node-graph-container {
		#node-graph-actions {
			position: absolute;
			top: 2vh;
			right: 2vh;
			display: flex;
			flex-direction: row;
			align-items: center;

			#zoom-to-fit {
				height: 40px;
				padding-right: 5px;
				cursor: pointer;
			}

			#export-tsv-node-graph {
				height: 40px;
				padding-right: 5px;
				cursor: pointer;
			}

			#download-node-graph {
				height: 40px;
				cursor: pointer;
			}
		}
	}

	#summary-stats {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		#summary-table {
			display: inline-block;
			width: 60%;
			height: 85%;
			padding: 2vh 2vw;
			overflow-y: scroll;

			td,
			th {
				min-width: 100px;
				padding: 0.6rem;
				border-color: black;
				border-width: 2px;
			}
		}
	}

	#cluster-zips {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		#cluster-zip-map {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
	}

	#cluster-graph-container {
		#cluster-histogram {
			user-select: none;
		}

		#cluster-histogram-controls-container {
			display: flex;
			flex-direction: column;
			align-items: flex-end;
			position: absolute;
			top: 0;
			right: 0;

			#cluster-histogram-controls {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: flex-start;
				border-left: 3px solid black;
				border-bottom: 3px solid black;
				padding: 1.5vw 1.5vw 1vw 1.5vw;
			}

			#download-cluster-histogram {
				height: 30px;
				margin: 0.5vw 1vw 0 0;
				cursor: pointer;
			}
		}
	}
}