#diagrams-container {
	position: relative;
	height: 100%;
	top: 0;
	left: 0;

	#diagram-tabs {
		position: relative;
		top: 0;
		left: 0;
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 8%;
		border-bottom: 3px solid black;

		.diagram-tab {
			display: flex;
			flex: 1 1 0;
			justify-content: center;
			align-items: center;
			width: 0;
			height: 100%;
			cursor: pointer;
			border-right: 3px solid black;
			box-sizing: content-box;

			&:last-child {
				border-right: none;
			}
		}

		.diagram-tab-selected {
			background-color: #E8E8E8;
		}

	}
}

#diagrams-content {
	position: relative;
	left: 0;
	height: 92%;
	width: 100%;

	.graph-element {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;

		.graph-title {
			position: absolute;
			top: 4vh;
			left: 50%;
			transform: translate(-50%, 0);
		}
	}

	#node-graph-container {
		#zoom-to-fit {
			position: absolute;
			top: 2vh;
			right: 2vh;
			height: 45px;
			cursor: pointer;
		}
	}

	#cluster-graph-container {
		#cluster-histogram-controls {
			position: absolute;
			top: 0;
			right: 0;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: flex-start;
			border-left: 3px solid black;
			border-bottom: 3px solid black;
			padding: 1.5vw 2vw 2vw 2vw;
		}
	}

	#summary-stats {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		#summary-table {
			display: inline-block;
			width: 60%;
			height: 85%;
			padding: 2vh 2vw;
			overflow-y: scroll;

			td,
			th {
				min-width: 100px;
				padding: 0.6rem;
				border-color: black;
				border-width: 2px;
			}
		}
	}
}