body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#input-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vw;
    height: 100%;
    padding: 0vh 2vw;

    h1 {
        text-align: center;
    }

    #input-form-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 0 2vw;
        overflow-y: scroll;
    
        .bi-asterisk {
            vertical-align: top;
            font-size: 0.5rem;
        }
    
        .input-step {
            display: flex;
            flex-direction: column;
            width: 100%;
        }

        #input-step-3 {
            #select-view-color {
                display: inline-flex;
                justify-content: center;
                align-items: center;
            }
    
            .view-entry-preview {
                display: inline-flex;
                justify-content: space-between;
                align-items: center;

                .view-entry-button {
                    width: 75%;
                }

                .view-entry-delete {
                    width: 10%;
                }
            }
        }
    }
    
    #step-action {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
}

#graph-container {
    position: relative;
    border-right: 4px solid black;
    width: 65vw;
    height: 100%;

    .graph-element {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .graph-title {
            position: absolute;
            top: 4vh;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    #graph-element-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        #summary-table {
            width: 60%;
            padding: 2vh 2vw;
        }
    }


    #zoom-to-fit {
        position: absolute;
        top: 2vh;
        right: 2vh;
        height: 45px;
        cursor: pointer;
    }

    #graph-arrow-right {
        position: absolute;
        top: 50%;
        right: 3vw;
        height: 5vh;
        cursor: pointer;
    }

    #graph-arrow-left {
        position: absolute;
        top: 50%;
        left: 3vw;
        height: 5vh;
        cursor: pointer;
    }

    #footer-label {
        position: absolute;
        bottom: 4vh;
        left: 50%;
        transform: translate(-50%, 0);
    }
}