body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#input {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 3vh 4vw;

    h1 {
        text-align: center;
    }

    footer {
        position: absolute;
        bottom: 4vh;
    }
}

#graph-container {
    position: relative;
    border-right: 4px solid black;
    width: 70%;
    height: 100%;

    #zoom-to-fit {
        position: absolute;
        top: 2vh;
        right: 2vh;
        height: 45px;
        cursor: pointer;
    }
}