body {
    display: flex;
    justify-content: center;
    height: 100vh;
}

#input-form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 3vh 4vw;

    h1 {
        text-align: center;
    }

    .bi-asterisk {
        vertical-align: top;
        font-size: 0.5rem;
    }

    .input-step {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    footer {
        position: absolute;
        bottom: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 30%;

        #step-action {
            width: 100%;
            display: inline-flex;
            justify-content: space-between;
        }
    }
}

#graph-container {
    position: relative;
    border-right: 4px solid black;
    width: 70%;
    height: 100%;

    .graph-element {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .graph-title {
            position: absolute;
            top: 4vh;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    #summary-table {
        position: absolute;
        top: 20%;
        left: 20%;
        width: 60%;
        padding: 2vh 2vw;
    }

    #zoom-to-fit {
        position: absolute;
        top: 2vh;
        right: 2vh;
        height: 45px;
        cursor: pointer;
    }

    #graph-arrow-right {
        position: absolute;
        top: 50%;
        right: 3vw;
        height: 5vh;
        cursor: pointer;
    }

    #graph-arrow-left {
        position: absolute;
        top: 50%;
        left: 3vw;
        height: 5vh;
        cursor: pointer;
    }

    #footer-label {
        position: absolute;
        bottom: 4vh;
        left: 50%;
        transform: translate(-50%, 0);
    }
}