body {
	margin: 0;
	width: 100vw;
	height: 100vh;
}

#app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

#width-adjust-slider {
	position: absolute;
	top: 0;
	width: 4px;
	height: 100%;
	background-color: #000000;
	cursor: col-resize;
}

#alert-message {
	position: absolute;
	top: 0;
	left: 50%;
	font-size: 0.9rem;
	cursor: pointer;
	transform: translate(-50%, 0);
}

.disable-select {
	user-select: none;
}